@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Acme&family=Sniglet&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Acme", sans-serif;
  font-family: "Sniglet", cursive;
}

a {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}

a:hover {
  /* border-top: 3px solid #0965a5;
  border-bottom: 3px solid #0965a5; */
  transition: 0.2s;
}

fieldset {
  border-spacing: 40px;
  border-color: #113241;
  font-size: larger;
  border-spacing: 50px;
  padding: 1em;
}

footer {
  height: 50px;
  background-color: #d4f9ff;
  padding: 15px;
  text-align: center;
}

form div {
  margin: 0.5em;
}

input[type=radio],
select {
  background: white;
  cursor: pointer;
}

input[type=email],
input[type=number],
input[type=text] {
  background: white;
  border-radius: 0.25em;
}

input[type=date]:focus,
input[type=email]:focus,
input[type=number]:focus,
input[type=text]:focus {
  background: antiquewhite;
}

header {
  font-size: larger;
  background-color: #fdb86d;
  transition: 0.8s;
}

header:hover {
  background-color: white;
  transition: 0.8s;
}

legend {
  text-align: center;
}

section {
  padding: 30px;
}

/* Clases */
.bienvenidaIndex {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(243, 229, 229, 0.5);
  top: 0;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  line-height: 3em;
  padding: 20px;
}

.btnEnviar,
.btnLimpiar {
  background: white;
  border-radius: 10px;
  border-color: white;
  padding: 5px;
  color: #c85a00;
}

.btnEnviar:hover,
.btnLimpiar:hover {
  padding: 6px;
  cursor: pointer;
  transition: 0.4s;
}

.contenidoContacto {
  position: absolute;
  height: 100vh;
  width: 90%;
  background-image: url(./imagenes/inicio.jpg);
  background-size: cover;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  padding: 30px;
  display: flex;
  justify-content: center;
}

.contenidoContacto h1 {
  text-align: center;
  background: linear-gradient(#113241, #0965a5);
  -webkit-background-clip: text;
  color: transparent;
}

.contenidoContacto h3 {
  padding: 70px;
  text-align: center;
}

.encabezadoOpinion {
  background-color: antiquewhite;
  text-align: center;
  padding: 10px;
}

.fondoContacto {
  position: relative;
  height: 100vh;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.iconoGarra {
  padding: 40px;
}

.imgArticulos {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}

.imgProductos {
  border-radius: 90px;
  width: 30%;
  height: 30%;
}

.menu-efecto {
  color: #000000;
}

.menu-efecto:hover {
  text-decoration: wavy overline underline #0965a5 2px;
}

.menu-principal {
  background-color: #fdb86d;
  border: 0;
  padding: 0 20px 0 20px;
  transition: 0.8s;
}

.menu-principal:hover {
  background-color: white;
  transition: 0.8s;
}

.movimientoIconos:hover {
  transform: rotate(15deg);
}

.opiniones {
  background-color: antiquewhite;
  display: grid;
  grid-template-areas: "a a a b c c";
  text-align: center;
  gap: 2rem;
  padding: 20px;
}

.opinion1 {
  grid-area: a;
  background-color: rgb(167, 141, 202);
  border-radius: 10px;
  padding: 15px;
  box-shadow: 8px 8px 8px purple;
}

.opinion2 {
  grid-area: b;
  background-color: rgb(121, 177, 167);
  border-radius: 10px;
  padding: 15px;
  box-shadow: 8px 8px 8px teal;
}

.opinion3 {
  grid-area: c;
  background-color: rgb(255, 195, 127);
  border-radius: 10px;
  padding: 15px;
  box-shadow: 8px 8px 8px brown;
}

.principalIndex {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #fdb86d;
  overflow: hidden;
}

.productosTitulo {
  text-align: center;
  padding-top: 2em;
  text-align: center;
  line-height: 3em;
}

.remove-bg {
  filter: brightness(1.1);
  mix-blend-mode: multiply;
}

.tiendaGridPadre {
  display: grid;
  gap: 3rem;
  justify-content: center;
  background-color: #d4f9ff;
  height: 100%;
  padding: 20px;
  grid-template-areas: "a b c d" "e f g h";
  grid-template-columns: 20% 20% 20% 20%;
  grid-template-rows: 40% 40% 40% 40%;
}

.tiendaGridHijo {
  position: relative;
  background-color: #113241;
  overflow: hidden;
  border-radius: 0 15px 0 15px;
}

.tiendaDescripcionProducto {
  position: absolute;
  height: 100vh;
  width: 90%;
  background-color: rgba(243, 229, 229, 0.7);
  top: 60%;
  left: 50%;
  transform: translate(-50%);
  padding: 30px;
  transition: 0.7s;
  text-align: center;
  cursor: pointer;
}

.tiendaDescripcionProducto:hover {
  background-color: rgba(255, 255, 255, 0.8);
  transition: 0.7s;
}

.tableroAgregar {
  background-color: #fdb86d;
}

.tableroAgregar:hover {
  background: linear-gradient(#fdb86d, #d8e7f1);
}

.tableroProductos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tableroProductosEnCarrito {
  display: flex;
  justify-content: space-around;
}

/* ID */
#descripcionSomos {
  padding-top: 2em;
  text-align: center;
  line-height: 3em;
}

#colorTitulos {
  background: linear-gradient(#113241, #0965a5);
  -webkit-background-clip: text;
  color: transparent;
}

#fondoIndex {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#formDisenio {
  width: 40%;
  color: white;
}

#formDisenio::before {
  content: "";
  background-color: #113241;
  position: absolute;
  background-size: cover;
  width: 40%;
  height: 100vh;
  z-index: -1;
  opacity: 0.8;
}

#iconoCarrito {
  text-align: end;
}

#imgInicio {
  width: 50%;
  height: 40%;
  border-radius: 30px 0 30px;
}

#imgSomos {
  width: 30%;
  height: 30%;
  border-radius: 90px;
  box-shadow: inset;
}

#mapa {
  text-align: center;
}

#mensajeBienvenida {
  text-align: center;
}

#productosPersonalizacion {
  text-align: center;
  padding: 50px;
}

#productosTalla {
  text-align: center;
}

#productosTalla table {
  table-layout: fixed;
  width: 100%;
  border: 3px solid #c85a00;
}

/* Dispositivos pequeños (tablets y teléfonos) */
@media only screen and (min-width: 320px) and (max-width: 600px) {
  .iconosGarra {
    padding: 30px;
  }
  .opiniones {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .tiendaGridPadre {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .tiendaGridHijo {
    width: 40%;
  }
  .tiendaDescripcionProducto {
    padding: 0;
    text-align: center;
  }
  .contenidoContacto {
    padding: 0;
    justify-content: left;
  }
  #formDisenio::before {
    width: 100%;
  }
}
/*# sourceMappingURL=base.css.map */

/*# sourceMappingURL=base.css.map */
